/* Responsive media query for mobile */
@media screen and (max-width: 600px) {
    header {
        position: fixed;
        width: 100vw;
        height: auto;
    }

    .navbar {
      width: 100vw;
      height: auto;
      padding: 22px 20px; /* Adjust padding for better spacing */
      margin-left: 0;
    }
  
    .menu-btn {
      display: flex; /* Show the menu button */
      /* align-items: flex-end; */
      margin-left: 40%;
    }
  
    .links {
      display: none; /* Hide the links */
    }

    .cover-img {
        width: 100%
    }

    .welcome-div {
        width: 95%;
        height: 85%;
        margin: 0 auto;
        padding-left: 5%;
        gap: 20px;
    }

    .main-header {
        font-size: 33px;
        line-height: 0;
        margin-top: 10%;
    }

    .secondary-text {
        font-size: 31px;
    }

    .dektop-cover-img {
        display: none;
    }

    /* Adjust the positioning of the image on smaller screens */
    .mobile-cover-img {
        display: block;
        height: 300px; /* Adjust the height to show the desired portion of the image */
        background-position: center; /* Position the image in the center */
    }

    .info-div {
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        padding-left: 5%;
    }

    .info {
        width: 92%;
        font-size: 21.5px;
    }

    .courses-div {
        width: 90%;
        margin: 0 auto;
        padding-left: 7%;
    }

    .courses-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .courses-grid-item {
        width: 90%;
        height: 355px;
    }

    .link-wraper {
        margin-top: 10%;
    }

    .fix {
        margin-top: 6%;
    }

    .partners-title {
        margin-left: 10%;
    }

    #prevButton, #nextButton {
        display: none;
    }

    .partners-body {
        width: 95%;
        /* height: 235px; */
        margin: 0 auto;
        padding-left: 5%;
    }

    .slide {
        display: flex;
        flex-direction: column;
        gap: 40px;
        top: 50px;
        left: 80px;
        align-items: center;
        justify-content: center;
    }

    .last-slide-image {
        margin-left: 0;
        margin-top: 50%;
    }

    .dot-links {
        top: 90%;
    }

    .questions-body {
        width: 81%;
    }

    .question-name {
        width: 300px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        margin: 10% auto 0 auto;
    }

    .arrow-svg {
        margin-left: 20px;
    }

    /* For mobile devices */
    .footer-body {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    .footer-tbc-logo {
        order: 0;
        width: 165px;
    }
  
    .footer-links-div {
        order: 3;
    }
  
    .footer-info {
        order: 4;
        margin-top: 20px;
        width: 100%;
    }

    .copyright {
        order: 2;
    }

    .terms-and-conditions {
        order: 1;
    }
  
    .social-pages {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .footer-links-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin: 5% 0;
    }

    .social-link {
        width: 50px;
        height: 50px;
    }

    .message-us-button {
        margin-top: 10px;
        height: 50px;
    }
}