
/* Root element used Used to initialize color and size variables */
:root {
    /* color variables */
    --grey: rgb(26,30,31);
    --grey-less-opacity: rgba(34,34,34, 0.92);
    --dark-grey: rgb(22,22,22);
    --light-grey: rgb(43,43,43);
    --text-blue: rgb(0,163,224);
    --text-hover-blue: rgb(0,128,176);
    --text-white: rgb(244,244,244);
    --text-hover: rgb(211,211,211);
    /* size variables */
    --width: 980px;
}

/* fonts */
@font-face {
    font-family: font93c;
    src: url(./fonts/font1.woff2);
    /* 643d94_93c16d86ec9d47d0a2a36894fbdd54fd */
}
@font-face {
    font-family: fontdd2;
    src: url(./fonts/font2.woff2);
    /* 643d94_dd28b3957391427eb54de1c9eff7cfb1 */
}
@font-face {
    font-family: fontf52;
    src: url(./fonts/font3.woff2);
    /* 643d94_f52303b2efea42e1b4aeed119e42672e */
}
@font-face {
    font-family: font773;
    src: url(./fonts/font4.woff2);
    /* dd97f4_7737b5e7be24426aa35c9f4311c1de96 */
}

body {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    margin-top: 84px;
}

header {
    background-color: var(--grey);
    position: fixed;
    width: 100%;
    height: 84px;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.full-opacity{
    background-color: var(--grey-less-opacity);
}

.navbar {
    width: var(--width);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: calc((100% - var(--width))/2);
    padding: 22px 0;
    
}

.logo-svg {
    width: 182px;
    height: 40px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 37%;
}

.links li a {
    text-decoration: none;
    font-family: 'fontdd2';
    font-size: 14px;
    line-height: 26px;
    color: var(--text-white);
    transition: color 0.4s ease 0s;
    padding: 0 10px;
}

.links li a:hover {
    color: var(--text-blue);
}

.main-container {
    position: relative;
    height: 352px;
}

.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.welcome-div {
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-left: calc((100% - var(--width))/2);
}

.main-header {
    font-family: 'fontf52';
    font-size: 42px;
    font-weight: bold;
    color: var(--text-white);
}

.secondary-text {
    font-family: 'fontf52';
    font-size: 34px;
    font-weight: bold;
    color: var(--text-white);
}

.info-wraper {
    width: 100%;
    background-color: var(--light-grey);
}

.info-div {
    width: var(--width);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-left: calc((100% - var(--width))/2);
    padding: 55px 0;
}

.info {
    font-family: 'fontdd2';
    font-size: 28px;
    line-height: 1.6em;
    color: var(--text-white);
}

.link-to-more {
    text-decoration: none;
    font-family: 'font773';
    font-size: 20px;
    color: var(--text-blue);
    transition: color 0.4s ease 0s;
}

.link-to-more:hover {
    color: var(--text-hover);
}

.courses-wraper {
    width: 100%;
    background-color: var(--dark-grey);
}

.courses-div {
    width: var(--width);
    display: flex;
    flex-direction: column;
    margin-left: calc((100% - var(--width))/2);
    padding: 34px 0;
}

.courses-title {
    font-family: 'fontdd2';
    font-size: 24px;
    color: var(--text-white);
    padding-bottom: 67px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.courses-grid-item {
    width: auto;
    height: 416px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(85, 85, 85, 1);
    border-radius: 6px;
}

.courses-grid-item-body {
    width: 100%;
    height: 100%;
    padding: 0 22px;
}

.courses-grid-title {
    font-family: 'fontdd2';
    font-size: 18px;
    line-height: 1.6em;
    color: var(--text-white);
    padding-top: 34px;
}

.courses-grid-info {
    font-family: 'fontdd2';
    font-size: 14px;
    color: var(--text-white);
    padding-top: 25px;
}

.link-wraper {
    display: flex;
    flex-direction: row;
    margin-top: 121px;
    gap: 5px;
}

.fix {
    margin-top: 93px;
}

.courses-grid-link {
    text-decoration: none;
    font-family: 'font93c';
    font-size: 16px;
    color: var(--text-blue);
    transition: color 0.4s ease 0s;
}

.courses-grid-link:hover {
    color: var(--text-hover-blue);
}

.blue-svg {
    fill: #00AEEF;
}

.partners-wraper {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--light-grey);
}

.partners-title {
    font-family: 'fontdd2';
    font-size: 24px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    margin-left: calc((100% - var(--width))/2);
    padding-top: 30px;
}

.slider-button {
    border: none;
    background-color: transparent;
    width: fit-content;
}


#prevButton {
    position: absolute;
    top: calc(50%);
    left: 5%;
}

#nextButton {
    position: absolute;
    top: calc(50%);
    right: 5%;
}

.slider-svg {
    width: 20px;
    fill: var(--text-white);
    cursor: pointer;
    stroke-width: 3;
}

.slider-svg:hover {
    fill: var(--text-hover);
}

.next {
    transform: scaleX(-1);
}

.partners-body {
    position: relative;
    width: clac(var(--width)/1.5);
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 80px 0;
    margin-left: calc((100% - var(--width))/2);
}

.partners-body {
  position: relative;
}

.slide {
  position: absolute;
  top: 80px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 115px;
  opacity: 0;
  transition: opacity 1.6s ease;
}

.slide.show {
  opacity: 1;
}


.last-slide-image {
    margin-left: calc(var(--width)/2.5);
}

.dot-links {
    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot-link {
    border: 3px solid white;
    border-radius: 50%;
}

.questions-wraper {
    width: 100%;
    background-color: var(--dark-grey);
}

.questions-body {
    position: relative;
    width: var(--width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0 50px 0;
}

.questions-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.questions-title {
    font-family: 'fontdd2';
    font-size: 24px;
    line-height: 1.6em;
    color: var(--text-white);
}

.questions-link {
    text-decoration: none;
    font-family: 'font773';
    font-size: 20px;
    color: var(--text-blue);
    transition: color 0.3s ease 0s;
}

.questions-link:hover {
    color: var(--text-hover);
}

.question-div {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgb(65, 63, 63);
}

.question-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
    cursor: pointer;
}

.question-name {
    font-family: 'fontdd2';
    font-size: 18px;
    color: var(--text-white);
    width: 490px;
    margin-right: 20px; /* Adjusted margin */
}

.question-name-div svg {
    fill: white;
    margin-left: 440px;
}

.question-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Updated transition property */
}

.question-div.show .question-body {
    max-height: 500px; /* Set a value large enough to accommodate your content */
    transition: max-height 0.5s ease-in-out; /* Updated transition property */
}

.question-desc,
.question-info,
.question-additional-info {
    font-family: 'fontdd2';
    font-size: 14px;
    color: var(--text-white);
    line-height: 2;
    
}

.question-desc {
    margin-bottom: 20px; /* Adjusted margin */
}

.question-info {
    padding: 20px 0 30px 0;
}

.indent {
    padding: 0 0 0 20px;
}

.bold {
    font-weight: 700;
}

.question-additional-info {
    margin-top: 20px; /* Adjusted margin */
    padding: 30px 0;
}



