:root {
    --grey: rgb(26,30,31);
    --dark-grey: rgb(22,22,22);
    --light-grey: rgb(43,43,43);
    --text-blue: rgb(0,173,238);
    --text-white: rgb(244,244,244);
    --text-hover: rgb(211,211,211);
}


